* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  scroll-behavior: smooth;
}
@media (max-width: 768px) {
  :root {
    font-size: 12px;
  }
}

body {
  font: 400 1rem/1.2 "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 18px;
}

section:not(:first-child) {
  padding: 6rem 0;
}

main .title {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.75rem;
  color: #000000;
}
main .description {
  font-size: 0.75rem;
}

.button {
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  color: #fff;
}
@media (max-width: 960px) {
  .header {
    position: fixed;
    background-color: #ed4c5c;
  }
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  font-size: 0.9rem;
}
@media (max-width: 960px) {
  .header__wrap {
    padding: 20px 0;
  }
}
.header__logo {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
}
.header__logo img {
  margin-right: 10px;
}
.header__logo span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
}
@media (max-width: 960px) {
  .header__nav {
    display: none;
    flex-direction: column;
    align-items: center;
    transition: 1.5s;
  }
  .header__nav.active {
    display: block;
  }
}
@media (max-width: 960px) and (max-width: 960px) {
  .header__nav.active {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #ed4c5c;
    transition: 1.5s;
  }
}
.header__list {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
@media (max-width: 960px) {
  .header__list {
    flex-direction: column;
  }
}
.header__item:not(:last-child) {
  margin-right: 16px;
}
@media (max-width: 960px) {
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.header__link {
  color: #fff;
  position: relative;
}
.header__link:before {
  content: "";
  position: absolute;
  bottom: -10px;
  border-radius: 2px;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  transition: 0.2s;
}
.header__link:hover:before {
  height: 2px;
}
.header__lang {
  display: flex;
  align-items: center;
  margin-right: 28px;
}
@media (max-width: 960px) {
  .header__lang {
    margin-right: 0;
    order: 1;
  }
}
.header__lang img:first-child {
  margin-right: 12px;
}
.header__lang span {
  margin-right: 12px;
}
.header__login {
  max-width: 100px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 6px;
  color: #fff;
  padding: 11px 28px;
}
@media (max-width: 960px) {
  .header__login {
    margin: 3rem 0;
  }
}
.header .burger {
  width: 40px;
  height: 40px;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
@media (max-width: 960px) {
  .header .burger {
    display: flex;
  }
}
.header .burger span {
  width: 40px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 6px;
}
.header .burger span::before, .header .burger span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: #ffffff;
  border-radius: 6px;
  transition: 0.2s;
}
.header .burger span::before {
  transform: translateY(-10px);
}
.header .burger span::after {
  transform: translateY(10px);
}
.header .burger.active span {
  background: transparent;
}
.header .burger.active span::before {
  transform: rotate(35deg);
}
.header .burger.active span::after {
  transform: rotate(-35deg);
}

.main {
  background-color: #ffffff;
}

.hero {
  position: relative;
  background: url(../assets/img/hero_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.hero__wrap {
  padding: 260px 0 220px;
  display: flex;
  justify-content: center;
}
.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.hero .heading {
  font-size: 4.5rem;
  font-weight: 900;
  margin-bottom: 2.5rem;
}
@media (max-width: 540px) {
  .hero .heading {
    font-size: 3.5rem;
  }
}
.hero .description {
  width: 49%;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 540px) {
  .hero .description {
    width: 75%;
  }
}
.hero__button {
  background: #ffffff;
  color: #ed4c5c;
}

.overview__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .overview__wrap {
    flex-direction: column;
  }
}
.overview__content {
  width: 42%;
}
@media (max-width: 768px) {
  .overview__content {
    width: 90%;
  }
}
.overview .title {
  margin-bottom: 3rem;
}
.overview .description {
  font-size: 0.9rem;
  line-height: 1.25rem;
  margin-bottom: 1.25rem;
  text-align: justify;
}
.overview .more {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #ed4c5c;
}
.overview__frame {
  position: relative;
  width: 50%;
}
@media (max-width: 768px) {
  .overview__frame {
    margin-top: 3rem;
  }
}
@media (max-width: 540px) {
  .overview__frame {
    width: 80%;
  }
}
.overview__frame img {
  width: 100%;
}
.overview__frame a {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
@media (max-width: 768px) {
  .overview__frame a {
    left: 50%;
  }
}
.overview__frame a img {
  width: 4.125rem;
}

.features {
  background: #fafafa;
  text-align: center;
}
.features .title {
  margin-bottom: 4rem;
}
.features__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 7rem;
}
@media (max-width: 768px) {
  .features__wrap {
    flex-direction: column;
    padding-bottom: 0;
  }
}
.features__item {
  position: relative;
}
@media (max-width: 768px) {
  .features__item {
    width: 60%;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}
@media (max-width: 540px) {
  .features__item {
    width: 80%;
  }
}
.features__item:not(:last-child) {
  margin-right: 1.8rem;
}
@media (max-width: 768px) {
  .features__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.features__item img {
  width: 100%;
}
.features__content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 83%;
  padding: 1.875rem;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .features__content {
    top: auto;
    bottom: 0;
    width: 100%;
  }
}
@media (max-width: 540px) {
  .features__content {
    top: 0;
    display: flex;
    background: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
  }
}
.features__content .title {
  font-size: 1.15rem;
  font-weight: 700;
  line-height: 1.35rem;
  margin-bottom: 1.25rem;
}
.features__content .description {
  line-height: 1.2rem;
  margin-bottom: 1.5rem;
}
.features .more {
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  color: #ed4c5c;
}

.technology {
  text-align: center;
}
.technology .title {
  margin-bottom: 4rem;
}
.technology__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.technology__item {
  position: relative;
  flex: 1 1 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.technology__item:first-child img {
  height: 80px;
  width: 80px;
}
.technology__item:nth-child(2) img {
  height: 80px;
  width: 66px;
}
.technology__item:nth-child(3) img {
  height: 80px;
  width: 70px;
}
.technology__item:last-child img {
  height: 80px;
  width: 47px;
}
.technology__item .title {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  color: #101010;
}
.technology__item span {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(16, 16, 16, 0.08);
  font-size: 6.25rem;
  font-weight: 700;
  line-height: 7.5rem;
}

.app-download {
  background: #ed4c5c;
}
.app-download__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 768px) {
  .app-download__wrap {
    flex-direction: column;
  }
}
.app-download__content {
  width: 40%;
}
@media (max-width: 768px) {
  .app-download__content {
    width: 90%;
  }
}
.app-download .title {
  color: #ffffff;
  margin-bottom: 3rem;
}
.app-download .description {
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-align: justify;
  margin-bottom: 2.5rem;
  color: #ffffff;
}
.app-download__app-links {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .app-download__app-links {
    justify-content: center;
  }
}
.app-download__app-links li:not(:last-child) {
  margin-right: 24px;
}
.app-download__media {
  position: relative;
  width: 50%;
  height: 320px;
  margin-left: auto;
}
@media (max-width: 768px) {
  .app-download__media {
    margin-left: 0;
  }
}
@media (max-width: 540px) {
  .app-download__media {
    height: 200px;
    margin-top: 2rem;
  }
}
.app-download__media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-download__media img:first-child {
  transform: translate(-30%, -50%);
  width: calc(100% - 25%);
}
@media (max-width: 540px) {
  .app-download__media img:first-child {
    width: 110%;
  }
}
.app-download__media img:nth-child(2) {
  width: calc(100% - 15%);
  z-index: 1;
}
@media (max-width: 540px) {
  .app-download__media img:nth-child(2) {
    width: 125%;
  }
}
.app-download__media img:last-child {
  width: calc(100% - 25%);
  transform: translate(-70%, -50%);
}
@media (max-width: 540px) {
  .app-download__media img:last-child {
    width: 110%;
  }
}

.contact__wrap {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .contact__wrap {
    text-align: center;
    flex-direction: column;
  }
}
.contact__content {
  flex: 1 1 40%;
  margin-right: 125px;
}
@media (max-width: 768px) {
  .contact__content {
    margin-right: 0;
  }
}
.contact .title {
  margin-bottom: 3rem;
}
.contact .description {
  font-size: 0.9rem;
  line-height: 1.4rem;
  text-align: justify;
  margin-bottom: 2.5rem;
  color: #000000;
}
@media (max-width: 768px) {
  .contact .description {
    text-align: center;
  }
}
.contact__form {
  flex: 1 1 50%;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-template-areas: "name surname" "phone phone" "service service" "button button";
  grid-gap: 24px 30px;
}
@media (max-width: 768px) {
  .form {
    padding: 0 5rem;
    grid-template-columns: 1fr;
    grid-template-areas: "name" "surname" "phone" "service" "button";
  }
  .form button {
    width: 100%;
  }
}
@media (max-width: 768px) and (max-width: 540px) {
  .form {
    padding: 0;
  }
}
.form input {
  padding: 20px 30px;
  border: 1px solid #333333;
  border-radius: 6px;
}
.form input:focus {
  outline: none;
  border-color: #ed4c5c;
}
.form__name {
  grid-area: name;
}
.form__surname {
  grid-area: surname;
}
.form__phone {
  grid-area: phone;
}
.form__service {
  grid-area: service;
}
.form__button {
  grid-area: button;
  background: #ed4c5c;
  color: #ffffff;
}

.footer {
  padding: 5rem 0;
  background: #fafafa;
}
.footer__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 540px) {
  .footer__wrap {
    justify-content: center;
  }
}
.footer__column {
  width: 230px;
  font-size: 0.75rem;
  margin-bottom: 2rem;
}
@media (max-width: 540px) {
  .footer__column {
    width: 50%;
  }
}
.footer__column:first-child p {
  width: 57%;
  margin-top: 2.5rem;
  line-height: 150%;
}
.footer__column:nth-child(3) a {
  display: block;
  margin-bottom: 1rem;
}
.footer__column:last-child img {
  width: 100%;
}
.footer__column a {
  color: #101010;
}
.footer .title {
  font-size: 1.1rem;
  line-height: 1.2rem;
  color: #101010;
  margin-bottom: 2rem;
}
.footer .services__list li {
  line-height: 1.3rem;
}
.footer .social {
  display: flex;
}
.footer .social__item {
  margin-right: 1rem;
  margin-top: 0.5rem;
}
.footer .copyright {
  display: block;
  margin-top: 5rem;
}

/*# sourceMappingURL=style.css.map */
