* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font: 400 1rem/1.2 "Lato", sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 18px;
}

section:not(:first-child) {
  padding: 100px 0;
}

.button {
  width: 160px;
  height: 50px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 10;
  color: #fff;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  font-size: 0.9rem;
}
.header__logo {
  font-size: 1.1rem;
  font-weight: 700;
  color: #fff;
}
.header__logo img {
  margin-right: 10px;
}
.header__logo span {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.header__nav {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}
.header__list {
  display: flex;
}
.header__item:not(:last-child) {
  margin-right: 16px;
}
.header__link {
  color: #fff;
  position: relative;
}
.header__link:before {
  content: "";
  position: absolute;
  bottom: -10px;
  border-radius: 2px;
  width: 100%;
  height: 0;
  background-color: #ffffff;
  transition: 0.2s;
}
.header__link:hover:before {
  height: 2px;
}
.header__lang {
  display: flex;
  align-items: center;
  margin-right: 28px;
}
.header__lang img:first-child {
  margin-right: 12px;
}
.header__lang span {
  margin-right: 12px;
}
.header__login {
  width: 100px;
  height: 40px;
  border: 1px solid #fff;
  background-color: transparent;
  border-radius: 6px;
  color: #fff;
}

.main {
  background-color: #ffffff;
}

.hero {
  position: relative;
  background: url(../assets/img/hero_bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.hero:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(213, 32, 71, 0.8) 0%, rgba(238, 61, 27, 0.8) 100%);
}
.hero__wrap {
  padding: 260px 0 220px;
  display: flex;
  justify-content: center;
}
.hero__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.hero .heading {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 40px;
}
.hero .description {
  width: 49%;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5em;
  margin-bottom: 40px;
}
.hero__button {
  background: #ffffff;
  color: #ed4c5c;
}

.overview__wrap {
  display: flex;
  justify-content: space-between;
}
.overview__content {
  width: 33%;
}
.overview .title {
  margin-top: 45px;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 24px;
}
.overview .description {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}
.overview .more {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  text-align: justify;
  color: #ed4c5c;
}
.overview__frame {
  position: relative;
  width: 50%;
}
.overview__frame img {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.overview__frame a {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 66px;
}

.features {
  background: #fafafa;
}
.features .title {
  font-family: Lato;
  font-size: 36px;
  font-weight: 600;
  line-height: 43px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 63px;
}
.features__wrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
}
.features__item {
  position: relative;
  width: 100%;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}
.features__item img {
  width: 100%;
}
.features__content {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.features__content .title {
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.features__content .description {
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 20px;
}
.features .more {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 150%;
  text-align: center;
  color: #ed4c5c;
}

.technology .title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-align: center;
}
.technology__wrap {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.technology__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 30px;
}
.technology__item:not(:last-child) {
  margin-right: 30px;
}
.technology__item:first-child img {
  height: 80px;
  width: 80px;
}
.technology__item:nth-child(2) img {
  height: 80px;
  width: 66px;
}
.technology__item:nth-child(3) img {
  height: 80px;
  width: 70px;
}
.technology__item:last-child img {
  height: 80px;
  width: 47px;
}
.technology__item .title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #101010;
}
.technology__item span {
  position: absolute;
  top: -10%;
  left: 50%;
  transform: translateX(-50%);
  color: rgba(16, 16, 16, 0.08);
  font-family: Lato;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: 0em;
  text-align: center;
}
.app-download {
  background: #ed4c5c;
}
.app-download__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 95px 0;
}
.app-download__content {
  flex: 1 1 32%;
}
.app-download .title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #ffffff;
}
.app-download .description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  text-align: justify;
  color: #ffffff;
}
.app-download__app-links {
  display: flex;
  align-items: center;
}
.app-download__app-links li:not(:last-child) {
  margin-right: 25px;
}
.app-download__media {
  flex: 1 1 50%;
  position: relative;
}
.app-download__media img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.app-download__media img:first-child {
  transform: translate(-70%, -50%);
}
.app-download__media img:nth-child(2) {
  z-index: 1;
}
.app-download__media img:last-child {
  transform: translate(-30%, -50%);
}

.contact__wrap {
  display: flex;
  justify-content: space-between;
}
.contact__content {
  flex: 1 1 40%;
  margin-right: 125px;
}
.contact .title {
  font-family: Lato;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;
  color: #000000;
}
.contact .description {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* or 20px */
  text-align: justify;
  color: #000000;
}
.contact__form {
  flex: 1 1 50%;
}

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(1fr);
  grid-template-areas: "name surname" "phone phone" "service service" "button button";
  grid-gap: 24px 30px;
}
.form input {
  padding: 20px 30px;
  border: 1px solid #333333;
  border-radius: 6px;
}
.form input:focus {
  outline: none;
  border-color: #ed4c5c;
}
.form__name {
  grid-area: name;
}
.form__surname {
  grid-area: surname;
}
.form__phone {
  grid-area: phone;
}
.form__service {
  grid-area: service;
}
.form__button {
  grid-area: button;
  background: #ed4c5c;
  color: #ffffff;
}

.footer {
  padding: 85px 0;
  background: #fafafa;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
}
.footer__column {
  width: 20%;
  font-family: Lato;
  font-size: 12px;
  font-weight: 400;
}
.footer__column:first-child p {
  line-height: 150%;
}
.footer .title {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin-bottom: 32px;
}
.footer .social {
  display: flex;
}
.footer .social__item {
  margin-right: 10px;
}

/*# sourceMappingURL=style.css.map */
